<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site browser icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ config.base_url }}/site.webmanifest">
    <link rel="mask-icon" href="{{ config.base_url }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>

    <style>
      body > .container {
        padding-top: 20px;
      }

      .navbar {
        height: 50px;
      }

      .navbar img {
        max-height: 100%;
      }
    </style>

    <nav class="navbar navbar-fixed-top navbar-light bg-dark">
      <img src="static/img/{{ banner_image }}"></img>
      <div class="text-white"><div>{{ title }}</div></div>
    </nav>

    <div class="container">
      {% if workshops %}
          {% for row in workshops | batch(3) %}
            <div class="row justify-content-center">
              <div class="card-deck">
                {% for workshop in row %}
                  <div class="card mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ workshop.title }}</h5>
                        <p class="card-text">{{ workshop.description }}</p>
                        <a href="{{ workshop.url }}" class="btn btn-primary mt-auto start-workshop">Start workshop</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
       {% else %}
          <div class="row justify-content-center">
              <p>No workshops available...</p>
          </div>
       {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>

    <script>
        $(window).on('load', function() {
            $(".start-workshop").on("click", function() {
                $(this).addClass("btn-success");
                $(this).removeClass("btn-primary");
                $(".start-workshop").addClass("disabled");
            });
        });
    </script>
  </body>
</html>
